/* general elements */
html, body, h1, ul {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* global styles */
.page-container {
  display: grid;
  grid-template-rows:  minmax(8rem, 1fr) 6fr;
  grid-template-columns: minmax(16rem, 1fr) 3fr;
  height: 100%;

  resize: both;
  overflow: auto;
}

/* header styles */
.header {
  background-color: blue;
  grid-area: 1 / 2 / 2 / -1;
}

/* sidebar styles */
.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 3rem;

  background-color: red;
}

.side-section {
  display: grid;
  gap: 1em;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
}

.sidebar li, .side-section:first-child {
  display: flex;
  gap: 1em;
  align-items: center;
}


.title .logo {
  font-size: 2em;
}

.logo {
  height: 1.5em;
}

[src="icons/rocket.svg"] {
  font-size: 2em;
}
/* content styles */
.content {
  background-color: yellow;
  grid-area: 2 / 2 / -1 / -1 ;
}