@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');

/* color theme */
:root {
  --banner-color: #437C90;
  --light-white: #f0efe9;
  --off-white: #b6a279;
  --card-detail: #31572C;
  --separator: grey;
}

/* general elements */
html, body, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 100;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* button reset snippet from Kevin Leary https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* global styles */
.page-container {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: minmax(min-content, 1fr) minmax(520px, 4fr);
}

.icon {
  height: 1.5em;
}

.profile-picture {
  background-color: orange;
  border-radius: 50%;
}

/* header styles */
.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-rows: 2fr 3fr;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--light-white);
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  z-index: 1;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.5em;
}

.header-top .icon {
  height: 1em;
}

.header-top .profile-picture {
  height: 2em;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  flex-grow: 1;
  gap: 0.5em;
}

.search-bar form, .search-bar button {
  display: flex;
  align-items: center;
}

.search-bar input {
  border: 0;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex: 1;
  margin-right: 20%;
  background-color: var(--off-white);
}

/* header bottom */
.header-bottom {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  font-size: 0.7em;
}

.profile-picture {
  max-height: 3.5rem;
}

.header-bottom > ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 5%;
}

.header-bottom > ul > li {
  background-color: var(--banner-color);
  color: var(--light-white);
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
}

/* sidebar styles */
.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 3rem;
  background-color: var(--banner-color);
  z-index: 2;
}

.side-section {
  display: grid;
  gap: 1em;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
}

.sidebar li,
.side-section:first-child {
  display: flex;
  align-items: center;
  gap: 1em;
}

.side-section h1 {
  margin-left: -0.5em;
}

[src="icons/rocket.svg"] {
  font-size: 2rem;
}

/* content styles */
.content {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 3fr minmax(12em, 1fr);
  gap: 1em;
  padding: 1em;
  background-color: var(--off-white);
}

.labeled-section {
  display: grid;
  grid-template-rows: 2em 1fr;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  gap: 1em;
}

.card {
  background-color: var(--light-white);
  border-radius: 0.5rem;
  border-left: 0.5rem solid var(--card-detail);
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr 2em;
  gap: 0.5em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.card-buttons {
  justify-self: end;
}

/* announcements */
.announcements-container {
  background-color: var(--light-white);
  padding: 1em;
  border-radius: 0.5rem;
  display: grid;
  min-height: 0;
  font-size: 0.8em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.announcement {
  padding: 0.5em;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 0;
}

.announcement > p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcement:nth-child(-n+2) {
  border-bottom: 2px solid var(--separator);
}

/* trending */
.trending {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
  padding: 1em;
  border-radius: 0.5rem;
  background-color: var(--light-white);
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.twitter-container {
  display: grid;
  grid-template-areas: 'picture handle' 'picture tagline';
}

.twitter-container > a {
  grid-area: picture;
  display: flex;
  justify-content: flex-end;
  margin-right: 00.5em;
}

.twitter-container img {
  height: 3rem;
}

.twitter-handle {
  grid-area: handle;
  align-self: flex-end;
}

.tagline {
  grid-area: tagline;
  font-weight: 100;
}
